{% extends 'Mail/base.html.twig' %}

{% block subject %}Welcome to {{ 'app.parameter.name'|trans }}{% endblock %}

{% block body_text_inner %}{% endblock %}

{% block body_html_inner %}
    <p>Welcome to {{ 'app.parameter.name'|trans }}</p>

    <p>An account with the following credentials has been created for you. You can login at <a href="{{ uri }}">{{ uri }}</a></p>

    <div style="margin-left: 20px;">
        Username: {{ user.username }}<br>
        Password: <em>Please contact {{ 'app.parameter.name'|trans }} for your password.</em>
    </div>
{% endblock body_html_inner %}