{% extends '::admin.html.twig' %}

{% set action_link_options = {
    'attr' : {
        'class' : 'button-as_link form-action_link'
    }
} %}

{% block page_title %}Edit | Users | {% endblock %}
{% block header_page_title %}Edit User{% endblock %}

{% block content %}
    {% include 'flashMessages.html.twig' %}

    {% embed 'AdminUser/userForm.html.twig' %}

        {% block extra_actions %}
            <ul class="form-extra_actions">
                {% if user.isEnabled == false %}
                    <li>
                        {{ form_start(activate_form) }}
                        {{ form_widget(activate_form.button, action_link_options) }}
                        {{ form_end(activate_form) }}
                    </li>
                {% endif %}
                <li>
                    {{ form_start(reset_password_form) }}
                        {{ form_widget(reset_password_form.button, action_link_options) }}
                    {{ form_end(reset_password_form) }}
                </li>
                <li>
                    {{ form_start(lock_unlock_form) }}
                        {{ form_widget(lock_unlock_form.button, action_link_options) }}
                    {{ form_end(lock_unlock_form) }}
                </li>
                <li>
                    {{
                        form_start(delete_form, {
                            'attr' : {
                                'class' : 'js-form-delete',
                                'data-record-desc' : 'User'
                            }
                        })
                    }}
                        {{ form_widget(delete_form.button, action_link_options) }}
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        {% endblock extra_actions %}

    {% endembed %}
{% endblock content %}