{% extends '::admin.html.twig' %}

{% block content %}
    <h1>{{ 'app.admin.content.header_label'|trans }} {{ 'app.admin.content.user_title'|trans }}</h1>

    {% include 'flashMessages.html.twig' %}

    <div class="form-form_wrap">
        {{ form_start(user_filter_form) }}
            {{ form_row(user_filter_form.email) }}

            {{ form_errors(user_filter_form.hide_locked) }}
            {{ form_widget(user_filter_form.hide_locked) }}
            {{ form_label(user_filter_form.hide_locked) }}

            {{ form_row(user_filter_form.user_type) }}

            <div class="form-button_wrap">
                <button type="submit">Filter</button>
                <a href="{{ path('admin_user_list') }}">Reset</a>
            </div>
        {{ form_end(user_filter_form) }}
    </div>

    <div><a href="{{ path('admin_user_new') }}">Add User</a></div>

    <div>Showing {{ pagination.count }} of {{ pagination.getTotalItemCount }} Users</div>
    {{ knp_pagination_render(pagination) }}

    <ul>
        {% for user in pagination %}
            <li{% if user.locked %} class="inactive"{% endif %}>
                <div>{{ user.username }}</div>
                <div>{{ user.name }}</div>

                <div>Account Status:
                    {% if user.locked == false %}
                        Active
                    {% else %}
                        <em>Locked</em>
                    {% endif %}
                </div>

                {% if user.loginCount %}
                    <div>Last Login: {{ user.lastLogin|date("Y-m-d H:i") }} ({{ user.loginCount }})</div>
                {% else %}
                    <div><i>Never logged in</i></div>
                {% endif %}

                <div>{{ user.rolesAsText() }}</div>
                <div><a href="{{ path('admin_user_edit', { 'id' : user.id }) }}">Edit</a></div>
            </li>
        {% endfor %}
    </ul>

    {{ knp_pagination_render(pagination) }}
{% endblock content %}